* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: rgba(0,0,0,1);
  font-family: Montserrat;
  font-weight: SemiBold;
}
main{
  padding-left:76px;
  padding-right:72px;
}
.first h1{
  font-size: 40px;
  font-weight: bold;
  font-family: 'Montserrat';
  margin-top:50px;
  margin-bottom:20px; 
}
nav{margin-bottom:42px;margin-top:25px!important;}
.bread{font-size:16px;font-weight: 500;}
.bread b{color:black;}
.bread {color:#999;}
.btn{
  background-color: black;
  font-family: 'Montserrat';
  font-size:18px;
  padding:10px 40px;
  margin-top:20px;
  color:white;
}
.btn:hover{color:black;background-color: white;border:1px solid black;}
.logo{
  width:156px;
}
.cards{
  margin-top:68px;
  border-bottom:1px solid black;
  padding-bottom:79px;
  margin-bottom:47px;
}
.cards img{
  width: 100%;
}
.cards p{
  border:1px solid black;
  padding:7px 15px;
  font-weight: bold;
  border-top:0;
}
.nav-item{
    color: rgba(0,0,0,1);
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    margin-right:49px;
}
.container-fluid{
  padding:0;
}
.nav-item:last-child{margin-right:0;}